header {
  background: linear-gradient(
    0deg,
    rgba(0, 9, 255, 1) 10%,
    rgba(255, 0, 0, 1) 100%
  );
  height: 100px;
  width: 2181px;
}
header a {
  text-decoration: none;
  color: black;
  margin: 55px;
  font-size: 30px;
}
header > * {
  display: inline-block;
}
.headerdiv img {
  width: 56px;
  height: 56px;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: -16px;
}
.article {
  background-image: url(images/fc19f9998fe047f5a694ce05936e2ebc.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 2081px;
  height: 1800px;
  margin: auto;
  padding: 50px;
  margin: 0px;
}
.article1 {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 2081px;
  height: 1800px;
  margin: auto;
  padding: 50px;
  margin: 0px;
}
.article2 {
  background: linear-gradient(red, blue);
  background-size: cover;
  background-repeat: no-repeat;
  width: 2081px;
  height: 700px;
  margin: auto;
  padding: 50px;
  margin: 0px;
}
.article3 {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 2081px;
  height: 700px;
  margin: auto;
  padding: 50px;
  margin: 0px;
}
.p1 {
  font-size: 20px;
  color: white;
}
.h1 {
  font-size: 65px;
  color: white;
}
.h2 {
  font-size: 65px;
  color: rgba(0, 0, 0, 1);
  margin-top: -10px;
}
.p2 {
  font-size: 20px;
  color: black;
}
.pre {
  font-size: 20px;
  color: black;
  margin-top: -100px;
  margin-left: 900px;
}
.p3 {
  font-size: 150px;
  margin-left: 110px;
}
.p4 {
  font-size: 25px;
  margin-top: -200px;
  margin-left: 300px;
}
.pre1 {
  font-size: 25px;
  color: black;
  margin-top: 50px;
  margin-left: px;
}
.div1 > img {
  width: 550px;
  height: 750px;
  margin-left: 130px;
}
.div2 > img {
  width: 550px;
  height: 750px;
  margin-left: 130px;
}
.div2 {
  margin-top: -1560px;
  margin-left: 1200px;
}
.div3 > h1 {
  color: white;
  font-size: 45px;
  margin-top: -10px;
}
.div3 > pre {
  color: white;
  font-size: 25px;
  margin-left: -137px;
}
.div3 > ul {
  color: white;
  font-size: 25px;
}
.article2 > iframe {
  position: absolute;
  left: 1200px;
  margin-top: -120px;
}
.h3 {
  font-size: 50px;
  margin-left: 765px;
}
.div4 > pre {
  font-size: 30px;
  margin-left: 600px;
}
.h4 {
  font-size: 25px;
  margin-left: 765px;
}
.article3 > img {
  width: 725.83px;
  height: 727px;
  margin-right: 700px;
}
.div4 {
  position: absolute;
}
footer {
  background: linear-gradient(
    0deg,
    rgba(0, 9, 255, 1) 10%,
    rgba(255, 0, 0, 1) 100%
  );
  height: 500px;
  width: 2181px;
  grid-template-areas: "a href", "a href", "a href", "a href";
}
footer > img {
  margin-left: 200px;
  margin-top: 10px;
}
footer a {
  text-decoration: none;
  color: white;
  margin: 55px;
  font-size: 30px;
}
footer > nav {
  margin-left: 150px;
}
